@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

//ORDER:
// 1.FIRST THE BASE and TOPOGRAPHY
// 2.GENERAL LAYOUT AND THE GRIDS
// 3.PAGE LAYOUT
//4.CHANGING THE COMPONENTS

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
