.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    padding: 1.5rem 2rem;
    width: 90%;
    border: none;
    display: block;
    color: inherit;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    font-family: inherit;
    transition: all 0.3s;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
      border-bottom: 3px solid $color-primary-dark;
      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::placeholder {
      color: $color-grey-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 2rem;
    display: block;
    transition: all 1s ease-in;
  }
  &__input:placeholder-shown + &__label {
    transform: translateX(-9rem) scale(9) rotate(180deg);
    visibility: hidden;
    opacity: 0;
  }
}
